.portfolio {

  width: 100%;
}

.portfolio li .portfolio-content .image-portfolio {
  width: auto;
  height: 60vh;
}

.wrap-slider-content  {

  width: 66vw;
  margin: auto;
  overflow: hidden;
}

.wrap-slider-content li figure {

  display: inline-block;
}

.wrap-slider-content li {

  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}


.list-portfolios li {
  display: inline-block;
}

.portfolio .wrap-slider {

  display: flex;
  align-items: center;
  width: 75%;
  margin: var( --space-md ) auto;
}

.list-portfolios li.hide {

  display: none;
}

.list-portfolios li figure {

  position: relative;
}


.list-portfolios li figure figcaption .link-portfolio::before,
.list-portfolios li figure figcaption .link-portfolio::after {
  content: "";
  position: absolute;

  top: calc(100% + 8px);

  left: 0;

  height: 8px;
  width: 100%;
  background: var( --primary );

  transition: .15s ease-in-out all;
}

.list-portfolios li figure figcaption .link-portfolio::after {

  transform: translateY( 150% ) scaleX( .85 );
}


.list-portfolios li figure figcaption .link-portfolio:hover::before {

  transform: scaleX( .85 );
}


.list-portfolios li figure figcaption .link-portfolio:hover::after {
  transform: translateY( 150% ) scaleX( 0 );
}

.list-portfolios li figure figcaption .link-portfolio {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.list-portfolios li figure:hover > figcaption {

  opacity: 1;
}

.list-portfolios li figure figcaption {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba( 0,0,0,.89 );

  opacity: 0;

  transition: .15s ease-in-out opacity;
}

.portfolio .wrap-slider .progress-bar {

  transition: .1s ease-in-out transform;
  height: 12px;
  background: var( --info-alt );
}


@media screen and (max-width: 800px) and (max-height: 650px) {

  .list-portfolios li figure figcaption {

    opacity: 1;
    background: rgba( 0,0,0,.68 );
  }

  .list-portfolios li figure figcaption .link-portfolio {

    left: 33%;
    top: 50%;
  }

}
