.form {

  width: 75%;
  margin: auto;
}

.form div {

  margin: var( --space-md ) 0;
}

.form div label {

  display: block;
  margin-bottom: var( --space-sm );
  font-size: var( --fsize-sm );
  font-style: italic;
  letter-spacing: var( --lspace-sm );
}


.form div input[type="text"],
.form div input[type="email"],
.form div input[type="password"],
.form div input[type="search"]
{

  display: inline-block;
  width: 100%;
  height: 30px;
  padding: var( --space-md );
  font-size: var( --fsize-sm );
}

.form div textarea {

  resize: none;
  width: 100%;
  height: 100px;
  padding: var( --space-sm );
}