:root {

  --success: #00b894;
  --success-alt: #27ae60;

  --error: #d63031;
  --error-alt: #e74c3c;

  --warn: #fdcb6e;
  --warn-alt: #f1c40f;

  --info: rgb(108, 92, 231);
  --info-alt: rgb(142, 68, 173);

  --primary: #0984e3;
  --primary-alt: #2980b9;

  --dark: #2d3436;
  --dark-alt: #2c3e50;

  --light: #ecf0f1;
  --silver: #bdc3c7;

  --fsize-xl: 42px;
  --fsize-lg: 33px;
  --fsize-md: 25px;
  --fsize-sm: 20px;
  --fsize-x-sm: 16px;

  /* space is value as padding and margin */
  --space-xl: 30px;
  --space-lg: 20px;
  --space-md: 12px;
  --space-sm: 6px;
  --space-x-sm: 3px;

  /* lspace is value as letter-spacing  */
  --lspace-xl: .25rem;
  --lspace-lg: .2rem;
  --lspace-md: .13rem;
  --lspace-sm: .08rem;
  --lspace-x-sm: .04rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var( --light );
  color: var( --dark );
}

ul, ol, li {


  list-style-type: none;
  list-style: none;
}

button, span, a, i, strong {

  display: inline-block;
}

button, .btn {

  cursor: pointer;
  text-decoration: none;
  border: 1px  solid transparent;
  background: transparent;
  font-size: var( --fsize-md );
  padding: var( --space-sm ) var( --space-md );
  letter-spacing: var( --lspace-md );
  font-weight: normal;
}

strong, h2, h3,h4, h5, h6 {

  font-weight: normal;
}


button.primary, .btn.primary {

  color: var(--light);
  background: var(--primary);
}

button.primary-outline, .btn.primary-outline {

  color: var(--primary);
  background: transparent;
  border-color: var( --primary );
}

button.primary-alt, .btn.primary-alt {

  color: var(--light);
  background: var(--primary-alt);
}

button.success, .btn.success {

  color: var(--light);
  background: var(--success);
}

button.success-alt, .btn.success-alt {

  color: var(--light);
  background: var(--success-alt);
}

button.error, .btn.error {

  color: var(--light);
  background: var(--error);
}

button.error-outline, .btn.error-outline {

  color: var(--error);
  background: transparent;
  border-color: var( --error );
}

button.error-alt, .btn.error-alt {

  color: var(--light);
  background: var(--error-alt);
}

button.warn, .btn.warn {

  color: var(--dark);
  background: var(--warn);
}

button.warn-alt, .btn.warn-alt {

  color: var(--dark);
  background: var(--warn-alt);
}

button.info, .btn.info {

  color: var(--light);
  background: var(--info);
}

button.info-alt, .btn.info-alt {

  color: var(--light);
  background: var(--info-alt);
}

button:hover,.btn:hover,
button:focus,.btn:focus
{

  opacity: .88;
}

button.disabled, .btn.disabled {

  opacity: .5;
  cursor: not-allowed;
}

.hide, .hidden {

  display: none;
}

a, .link {

  text-decoration: none;
  color: var( --primary );
}

a:hover, .link:hover {

  color: var( --primary-alt );
}

@media screen and (max-width: 800px) and (max-height: 650px) {

  button, .btn {

    transition: .1s ease-in-out transform;
  }

  button:active, .btn:active {

    transform: scale( .9 );
  }
}
