footer {

  margin: var( --space-xl ) 0;
}

footer form figure img {

  position: relative;

}

footer form figure img.load {

  filter: blur( 3px );
}

footer form figure {

  position: relative;
}

footer form figure figcaption {

  opacity: 0;
  position: absolute;
  background: rgba( 0,0,0,.93 );
  color: var( --light );
  left: 0;
  top: 0;
  padding: var( --space-sm ) var( --space-md );
  padding-right: 0;
  font-size: var( --fsize-x-sm );
  width: 100%;
  transition: .13s ease-in-out opacity;
}

footer form figure:hover > figcaption {
  opacity: 1;
}