.title {

  /* border: 1px solid red; */
  display: inline-block;
  padding: var( --space-md );
  margin: var( --space-md ) 0;
}

.title figure img {

  max-width: 20vh;
  height: auto;
}


.title aside {

  /* border: 1px solid red; */
  margin: var( --space-sm ) 0;
  letter-spacing: var( --lspace-sm );
}