@keyframes slideUp {

  from {

    transform: translateY(0);
    opacity: 1;

  } to {

      transform: translateY(-100%);
      opacity: 0;

  }

}

.notif.close {

  animation: slideUp .33s ease-in-out forwards;
}

.notif {

  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: var( --lspace-sm );
  padding: var( --space-sm ) var( --space-md );
}

.notif .wrap-content {

  margin-right: var( --space-md );
  font-size: var( --fsize-md );
  letter-spacing: var( --lspace-md );
}

.notif.notif-error {

  color: var( --error );
}

.notif.notif-success {

  background: var( --success );
  color: var( --light );
}
